@import '../style/variables';


.user-card {
  border: 1px solid #ddd;
  border-radius: $border-radius;
  padding: 1rem;
  background: white;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  h3 {
    margin: 0 0 0.5rem;
    color: $primary-color;
  }

  p {
    margin: 0.2rem 0;
  }
}
